.about{display: flex;justify-content: space-around;flex-wrap: wrap;margin: 50px 0;
}
.about img{max-width: 500px;min-width: 290px;height: 300px;display: block;object-fit: cover;margin: 25px;
}
.about .square{max-width: 500px;min-width: 290px;margin: 25px;
}
.square .rows{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.square .rows .name{
    font-size: 40pt;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.square .rows span{
    color: #00ff73;
    font-size: 30pt;
}
.square .colors button{
    width: 30px;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    margin-right: 5px;
    cursor: pointer;
}
.square p{
    line-height: 1.5;
    margin: 15px 0;
    font-size: 30pt;
}
.square .cart{
    background: #333;
    color: white;
    text-decoration: none;
    padding: 10px 25px;
    display: inline-block;
}