.home{
    background-image: url("https://d2pa5gi5n2e1an.cloudfront.net/id/images/article/11334_ID/summary_fb.jpg");
}
.home .boxes{
    max-width: 500px;
    min-width: 290px;
    width: auto;
    height: 500px;
}

.title{
    font-size: 35pt;
    margin-left: 10%;
    padding-top: 200px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-shadow: 2px 2px #414141;
}
